<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tagvalidation">
  <test thread-count="5" name="SampMax">
    <packages>
    <package name="sampMax_testcase"></package>
    </packages>
  </test> <!-- SampMax -->
</suite> <!-- Tagvalidation -->
